<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>
</head>
<body>

<div id="app">
    <template>
        <!--        表单-->
        <el-form :inline="true" :model="brand" class="demo-form-inline">
            <el-form-item label="当前状态">
                <el-select v-model="brand.status" placeholder="当前状态">
                    <el-option label="启用" value=0></el-option>
                    <el-option label="禁用" value=1></el-option>
            </el-form-item>
            <el-form-item label="品牌名称">
                <el-input v-model="brand.brandName" placeholder="品牌名称"></el-input>
            </el-form-item>
            <el-form-item label="企业名称">
                <el-input v-model="brand.companyName" placeholder="企业名称"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="onSubmit">查询</el-button>
            </el-form-item>
        </el-form>

        <el-row>
            <el-button type="primary" @click="dialogVisible = true" plain>新增</el-button>
            <el-button type="success" plain>批量删除</el-button>
        </el-row>

        <el-dialog
                title="编辑品牌"
                :visible.sync="dialogVisible"
                width="30%"
                :before-close="handleClose">
            <el-form ref="form" :model="brand" label-width="80px">
                <el-form-item label="品牌名称">
                    <el-input v-model="brand.brandName"></el-input>
                </el-form-item>
                <el-form-item label="企业名称">
                    <el-input v-model="brand.companyName"></el-input>
                </el-form-item>
                <el-form-item label="排序">
                    <el-input v-model="brand.order"></el-input>
                </el-form-item>
                <el-form-item label="备注">
                    <el-input type="textarea" v-model="brand.desc"></el-input>
                </el-form-item>
                <el-form-item label="状态">
                    <el-switch v-model="brand.status" active-value="1" inactive-value="0"></el-switch>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="addBrand">立即创建</el-button>
                    <el-button @click="dialogVisible = false">取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>

        <el-table
                :data="tableData"
                style="width: 100%"
                :row-class-name="tableRowClassName"
                @selection-change="handleSelectionChange">

            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    type="index"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="brandName"
                    align="center"
                    label="品牌名称">
            </el-table-column>
            <el-table-column
                    prop="companyName"
                    align="center"
                    label="企业名称">
            </el-table-column>
            <el-table-column
                    prop="ordered"
                    align="center"
                    label="排序">
            </el-table-column>
            <el-table-column
                    prop="status"
                    align="center"
                    label="当前状态">
            </el-table-column>
            <el-table-column
                    label="操作"
                    align="center"
            >
                <el-row>
                    <el-button type="primary" round>主要按钮</el-button>
                    <el-button type="success" round>成功按钮</el-button>
                </el-row>
            </el-table-column>
        </el-table>


        <div class="block">
            <span class="demonstration">完整功能</span>
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="currentPage4"
                    :page-sizes="[1, 2, 3, 4]"
                    :page-size="100"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="24">
            </el-pagination>
        </div>

    </template>

</div>


<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<script>
    new Vue({
        el: "#app",
        methods: {
            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            //复选框选中之后执行
            handleSelectionChange(val) {
                this.multipleSelection = val;
                console.log(this.multipleSelection)
            },

            //查询方法
            onSubmit() {
                console.log(this.brand);
            },

            addBrand() {
                console.log(this.brand)
            }


        },
        data() {
            return {
                //品牌模型数据
                brand: {
                    status: '',
                    brandName: '',
                    companyName: '',
                    order: '',
                    desc: '',
                    id:''
                },
                currentPage: 1,
                multipleSelection: [],
                dialogVisible: false,
                tableData: [{
                    brandName: '小花生米',
                    companyName: 'peanut',
                    ordered: 'buttaby',
                    status: '1'
                }, {
                    brandName: '小小牛',
                    companyName: '香香牛',
                    ordered: 'cocolamb',
                    status: '1'
                }, {
                    brandName: '小小羊',
                    companyName: '臭臭羊',
                    ordered: '3',
                    status: '1'
                }, {
                    brandName: '狗蛋',
                    companyName: 'dogegg',
                    ordered: '10',
                    status: '1'
                }],

            }
        }
    })
</script>
</body>
</html>